@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

ul {
  list-style: none;
}

